PORT=4000
DB_HOST=localhost # localhost -- dev e db  -- produção
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=admin123
DB_NAME=clubedoromance
ADMINER_PORT=8080
APP_PORT=4002
HASH_COST=12   # desenvolvimento -- 12 produção
ENVIRONMENT=development # development -- produção
# Conf jwt
JWT_SECRET=secret
JWT_TIME=3600

# Chave da API do Google Books
KEY_GOOGLE_BOOKS=KeyGoogleBooksExample1234567890